.form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background-color: rgb(140, 140, 236);
    padding: 10px;
    border-radius: 10px;
}

.row {
    display: flex;

    input {
        width: 40%;
    }
    
    button{
        background: none;
        border: 0px;
        height: 20px;
        cursor: pointer;
    }
}

.text-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.text-search{
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin-bottom: 10px ;
}

.button {
    cursor: pointer;
    background: #4ab3c6;
    padding: 8px;
    color: #fff;
    font-size: 20px;
    border: 1px solid #fff;
    text-shadow: 0 1px 1px #333;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;

    :disabled {
        background: grey;
        transform: none !important;
    }

    :hover {
        transform: scale(1.05);
        cursor: pointer;
        transition: 0.2s;
    }


}

.search{
    display: flex;
    justify-content: space-between;
}