<form action="" class="form" #form>
  <h1>Cadastro de Usuario</h1>
  <div>
    <label for="nome" class="text-input"
      >Nome
      <div class="row">
        <input type="text" name="name" id="name" [(ngModel)]="user.name" />
        <button> <img
          src="../../../../assets/icones/84380.png"
          alt=""
          width="20px"
          (click)="getUsersByName()"
        /></button>
        </div
    ></label>

    <label for="email" class="text-input"
      >Email
      <input type="text" name="email" id="email" [(ngModel)]="user.email"
    /></label>

    <label for="password" class="text-input"
      >Senha
      <input
        type="text"
        name="password"
        id="password"
        [(ngModel)]="user.password"
    /></label>
  </div>
  <div>
    <div class="checkbox-container">
      <label for="admin">
        <input
          type="radio"
          id="roles"
          name="roles"
          value="ADMIN,USER"
          [(ngModel)]="user.roles"
        />Admin</label
      >

      <label for="user">
        <input
          type="radio"
          id="roles"
          name="roles"
          value="USER"
          [(ngModel)]="user.roles"
        />User</label
      >
    </div>

    <button
    class="button"
      type="button"
      [disabled]="user.name == null || user.email == null"
      (click)="saveUser()"
    >
      Salvar
    </button>
    <button
    class="button"
      type="button"
      (click)="cancela()"
      [disabled]="user.name == null || user.email == null"
    >
      Cancelar
    </button>
  </div>
</form>
