<section class="form">
    <table width="100%" [cellPadding]="0" [cellSpacing]="0">
        <tr>
            <td>Nome</td>
            <td>Tamanho</td>
            <td>País</td>
        </tr>
        <tr *ngFor="let speedway of speedways">
            <td>{{speedway.name}}</td>
            <td>{{speedway.size}}</td>
            <td>{{speedway.country.name}}</td>
            <td class="buttons">
                <button (click)="editaSpeedway(speedway)"> <img src="../../../../assets/icones/editar.png" alt="editar" width="20px" ></button>
                <button (click)="delete(speedway)"> <img src="../../../../assets/icones/excluir.png" alt="excluir" width="20px" ></button>
            </td>
        </tr>
    
    </table>
</section>
